@model UsersVM
@{
	ViewData["Title"] = "Details";
}

<h1>Details of @Model.FirstName @Model.LastName</h1>

<div>
	<partial name="PartialViews/DeleteOrDetailsForm"></partial>
	<a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
	<a asp-action="Index" class="btn btn-outline-primary">Back To List</a>
</div>